*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Heebo", sans-serif;
}
a{
    text-decoration: none;
    color: #000000;
}

/* header */

.hamburger{
    display: none;
}
.wrapperNavHead{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 1170px;
}

.wrapperNavHead h2 a:hover{
    color: #FF6464;
}
.wrapperNavHead li a:hover{
    color: #FF6464;
}

.header ul li{
   list-style: none;
   margin-left: 35px; 
    
}

.navHead{
    display: flex;
    justify-content: space-between  ;
}

.navHead a {
    font-weight: 500;
    font-size: 20px;
    line-height: 29.38px;
    text-align: right   ;
    text-decoration: none;
}

/* main section */

/* main{
    margin: 0 auto;
} */
 .container{
    max-width: 1170px;
    margin:  0 auto;
    padding: 20px;
    box-sizing: border-box;
    
 }
 .wrapperHeroImage{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    min-height: calc(100vh - 96px);
    align-items: center;
    /* margin-top: calc(100vh - 96px); */
 }

.containerHero h1{
    color: #21243D;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 25px;
}
.containerHero p{  
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
    color: #21243D;
    margin-bottom: 25px;
}
.btnDownload{
    box-sizing: border-box;
    width: 208px;
    height: 47px;
    font-size: 20px;
    line-height: 29.38px;
    font-weight: 500;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #FF6464;
}
.btnDownload:hover {
    background-color: rgb(253, 250, 250); 
    color: #000000;
    border: 1px solid#FF6464;
    ;
}

.containerImage img{
    border-radius: 50%;
    width: 243px;
    margin: 0 auto;
}


/* posts */
.wrapperPosts{
    width: 100%;
    background-color:#EDF7FA ;
}


.postNav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1170px;
    list-style: none;
}
.postNav h3{
    padding-left: 0;
    color: #21243D;
    font-size: 22px;
    line-height: 60px;
    font-weight: 400;
}

.postNav h3 a{
    text-decoration: none;
    color: #00A8CC;
    font-size:16px;
    font-weight:400;
    line-height: 23.5px;
}
.postNav h3 a:hover{
    color: blue;
}

/* wrapperCards */
.wrapperCards{
    display: flex;
    width: 1170px;
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 25px;
}
.wrapperCards a{
    text-decoration: none;
    color: none;
}

.card{
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(187, 225, 250, 0.25);
}
.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.card h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 38.19px;
    color: #21243D;
}


.card .cardDate{
    display: flex;
    align-items: center;
    width: 374px;
    height: 34px;
    gap: 25px;
}
.cardDate h4{
    color: #21243D;
    font-size: 18px;
    line-height: 26.44px;
    font-weight: 400;
}
.card p{
    color: #21243D;
    font-weight: 400px;
    font-size: 16px;
    line-height: 23.5px;
}

/* fetured Works */


.feturedW h2{
    font-size: 22px;
    line-height: 60px;
    font-weight: 400;
    color: #21243D;
}

.wrapperContainer{
    display: flex;
    gap: 50px;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    
}
.image {
    min-width: 246px;
}
.image img{
    width: 100%;
    border-radius: 6px;
}

.content a{
    text-decoration: none;
}
.content h5{
    font-size: 30px;
    line-height: 44.06px;
    font-weight: 700;
    color: #21243D;
    margin-bottom: 16px;
}

.category{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 34px;
}
.category .date{
    width: 62px;
    height: 25px;
    background-color: #142850;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;    
    border-radius: 12px;
}
.category h3{
    font-size: 20px;
    line-height: 29.38px;
    font-weight: 400;
    color: #8695A4;
}
.content p{
    
    height: 93px;
    color: #21243D;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;

}
/* footer section */

footer{
    padding: 20px;
}

.footerSection{
    display: flex;
   justify-content: center;
   gap: 35px;
   margin-bottom:20px;
}

.footerSection img:hover{
    /* transition: transform 0.3s ease; */
    transform: scale(1.2);
}

footer p{
    text-align: center;
    color: #21243D;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.56px;
}


/* media queries */

@media (max-width:768px){
    body{
       
    }
    .container{
        width: 100%;
    }

    .hamburger{
        display: block; 
        float: right;
    }

    .wrapperNavHead{
        display: none;
        justify-content: space-between;
        width: 768px;
        height: 35px;
    }

    .header ul li{
        list-style: none;
        margin-left: 10px; 
         
     }

     .wrapperHeroImage{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 0%;
    }
   
    .containerHero h1{
        width:  100%;
        height: 120px;
        text-align: center;
        margin:30px auto;
        margin-bottom: 70px;
    }

    .containerHero p{  
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 23.5px;
        color: #21243D;
        margin:30px auto;
        
    }
    .wrapperPosts{  
        width: 100%;
        flex-direction: column;
    }
    
    .postNav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .postNav h3 a{
        display: none;
    }
   
   
  
    
    .wrapperCards{
        height: fit-content;
        gap: 20px;
        width: 100%;
        margin-bottom: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    .card{ 
        max-width: 100%;
    }

    .feturedW h2{
        width: 768px;
        justify-content: center;
        text-align: center;
    }


    .wrapperContainer{
        height: fit-content;
        gap: 20px;
        width: 100%;
        margin-bottom: 50px;    
        display: flex;
        flex-direction: column;   
    }
    .image{
        width: 100%;
    }

    .image img {
        /* align-items: center; */
        /* width: 100%; */
    }
    .content{
       align-items: center;
    }

  
    

}






